/* components/Item.module.css */
.item {
    border: 1px solid #ddd;
    padding: 20px;
    box-sizing: border-box;
  }
  
  h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 1em;
    color: #555;
  }
  
  /* pages/index.module.css */
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
  }
  